[submodule "dashboard"]
	path = dashboard
	url = https://github.com/gardener/dashboard
[submodule "gardener"]
	path = gardener
	url = https://github.com/gardener/gardener
[submodule "kubify"]
	path = kubify
	url = https://github.com/gardener/kubify
[submodule "setup"]
	path = setup
	url = https://github.com/gardener/landscape-setup
